 {% extends 'blog/base.html' %}
 
{% block title %}
{{ post.title | truncatechars:15 }} by <a href="{% url 'user_post_list' pk=post.author.pk %}">{{ post.author }}</a>
{% if user.is_authenticated and post.author == user %}
<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}

{% endblock %}

{% block content %}
     <div class="post">
         {% if post.published_date %}
             <div class="date">
                 {{ post.published_date }}
             </div>
         {% endif %}

        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <h3>By <a href="{% url 'user_post_list' pk=post.author.pk %}">{{ post.author }}</a></h3>
         {% if post.picture_URL %}

            <img src="{{ post.picture_URL }}" />
         {% endif %}
        <h1>{{ post.title }}</h1>
         <p>{{ post.text|linebreaks }}</p>
     </div>
 {% endblock %}